body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fdf4e3;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Light.ttf");
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.item {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

li:last-child {
  margin-right: 0px;
}

.li-nav {
  display: inline;
  margin-right: 100px;
}

.text {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* .section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
} */

.nav-header {
  background-color: #a18594;
}

footer {
  background-color: #a18594;
}
